@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.linkHover:hover {
    box-shadow: 0px 2.5px 0px 0px #97D4A6;
    transition: box-shadow .1s ease;
}
.linkFocus {
    box-shadow: 0px 2.5px 0px 0px #97D4A6;
    transition: box-shadow .1s ease;
}